

a {
    color: #A51C30;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
    font-size: 65px;
}

.clearfloat {
    clear: both;
    font-size: 1px;
    height: 0 !important;
    line-height: 0;
}

.huLogo {
    background: none repeat scroll 0 0 #000000;
    height: 39px;
}

.huLogo img {
    bottom: -10px;
    position: relative;
    margin: 0 0 0 20px;
}

.huTopLinks {
    background-color: #e6e6e3;
    height: 83px;
}

.huTopLinks>* {
    display: inline-block;
}

.huTopLinks>h2 {
    font-family: Georgia;
    font-size: 2.5em;
    padding: 15px 20px;
    font-weight: normal;
    font-variant: small-caps;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.huTopLinks>div {
    float: right;
    padding: 25px 0;
}

.huTopLinks a {
    font-size: 0.8em;
    font-weight: 600;
    padding: 0 10px;
    text-transform: uppercase;
}

.huTopNavWrp {
    background: #f3f3f1;
    width: 100%;
    overflow: hidden;
    padding: 0 0 10px 0;
    height: 81px;
}

.centerContent {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    min-width: 480px;
    max-width: 1470px;
}

.titleText {
    text-align: left;
    color: #A51C30;
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 35px;
}

.textBoxContainer {
    display: inline-block;
    text-align: center;
    min-width: 480px;
    max-width: 600px;
    vertical-align: top;
    padding: 10px;
    margin-bottom: 25px;
}

.textBox {
    background-color: #F3F3F1;
    border: 1px solid #000000;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

.textBox p {
    margin-top: 10px;
}

.red {
    color: #A51C30;
    font-size: 24px;
}

.buttonContainer {
    display: block;
    text-align: center;
    padding: 0 0 0 0;
    margin: 20px auto 0 auto;
    width: 292px;
}

.buttonContainer a {
    margin: 10px auto;
    display: inline-block;
}

.button {
    vertical-align: middle;
    width: 292px;
    height: 58px;
}

.freeText {
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.italic {
    font-style: italic;
}

.boxed {
    
    background-color: #F3F3F1;
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
